# `$TRUSTED_PROXIES` is the proxy of traefik network `docker network inspect traefik --format='{{(index .IPAM.Config 0).Gateway}}'`
TRUSTED_PROXIES=172.18.0.1

# Cloudflare API credentials used by Certbot
# Account email
CF_API_EMAIL=
# API token with DNS:Edit permission (since v3.1.0)
CF_DNS_API_TOKEN=
# API token with Zone:Read permission (since v3.1.0)
CF_ZONE_API_TOKEN=
