PROVIDERS_OIDC_ISSUER_URL=<ISSUER_URL>
PROVIDERS_OIDC_CLIENT_ID=<CLIENT_ID>
PROVIDERS_OIDC_CLIENT_SECRET=<CLIENT_SECRET>
# you can generate a random string e.g. with cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
SECRET=<something-random>

# optional resource indicator
# PROVIDERS_OIDC_RESOURCE=
